body {
  background-image: url("sky.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-white {
  color: white;
}

.header{
  position: relative;
  text-align: center;
  font-size: larger;
}

.loc-input  {
  padding-left: 35%;
  padding-right: 35%;
}

.weather-card {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  height: 350px;
  border-radius: 10%;
}

.cloud {
  font-size: 5rem;
  color: rgb(78, 76, 76);
}

