body {
  background-image: url("sky.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-white {
  color: white;
}

.header{
  position: relative;
  text-align: center;
  font-size: larger;
}